@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - LOADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#loader-wrapper{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: white; z-index: 500;}

.loader {
    position: absolute;
    top: 55%; margin-top: -50px;
    left: 50%; margin-left: -50px;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #222; /* Green */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* 02 - LOADER */

.headingg {
    width: 50%;
    padding-bottom: 50px;
    text-align: center;
    margin-left: 25%;
    margin-top: 100px;
}

.headingg h3 {
    font-size: 3em;
    font-weight: 100;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(34, 34, 34);
}

.headingg h3 span {
    font-weight: bolder;
    color: pink;
}

.containerr {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

}

.card-1 {
    display: flex;
    background-color: rgb(255, 240, 254);
    border-radius: 5px;
}

.img-1 {
    width: 40%;
    height: auto;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.img-1 img {
    width: 100%;
    min-height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: transform 1s;
}

.img-1:hover img{
    transform: scale(1.1);
    

}

.txt-1 {
    width: 60%;
    padding-top: 135px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 135px;
}


.card-2 {
    margin-top: 20px;
    display: flex;
    background-color: rgb(255, 240, 254);
    border-radius: 5px;
}

.img-2 {
    width: 40%;
    height: auto;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.img-2 img {
    width: 100%;
    min-height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: transform 1s;

    
}

.img-2:hover img{
    transform: scale(1.1);

}


.txt-2 {
    width: 60%;
    padding-top: 135px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 135px;
}

.card-3 {
    display: flex;
    background-color: rgb(255, 240, 254);
    border-radius: 5px;
    margin-top: 20px;
}

.img-3 {
    width: 40%;
    height: auto;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.img-3 img {
    width: 100%;
    min-height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: transform 1s;
    
}

.img-3:hover img{
    transform: scale(1.1);
    

}

.txt-3 {
    width: 60%;
    padding-top: 135px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 135px;
}

.slidee {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
    padding: 80px;


}

.slidee h3 a {
    text-decoration: none;
    color: black;
}


@media only screen and (max-width: 1313px) {

    .container {
        width: 70%;

    }

    .card-1 {
        height: 25%;
        border-radius: 5px;
    }

    .img-1 {
        width: 425px;

    }

    .txt-1 {
        padding-left: 20px;
        padding-top: 85px;
        padding-bottom: 80px;
        padding-right: 20px;

    }

    .img-1 img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .card-2 {
        height: 25%;
        border-radius: 5px;
    }

    .img-2 {
        width: 425px;

    }

    .txt-2 {
        padding-left: 20px;
        padding-top: 85px;
        padding-bottom: 80px;
        padding-right: 20px;

    }

    .img-2 img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .card-3 {
        height: 25%;
        border-radius: 5px;
    }

    .img-3 {
        width: 425px;

    }

    .txt-3 {
        padding-left: 20px;
        padding-top: 85px;
        padding-bottom: 80px;
        padding-right: 20px;

    }

    .img-3 img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .slide {
        width: 50%;
    }

}



@media only screen and (max-width: 1172px) {

    .card-1 {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .img-1 {
        width: 100%;
    }

    .img-1 img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .txt-1 {
        font-size: large;
        width: 100%;
        padding-top: 135px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 135px;

    }

    .card-2 {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .img-2 {
        width: 100%;
    }

    .img-2 img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .txt-2 {
        font-size: large;
        width: 100%;
        padding-top: 135px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 135px;

    }

    .card-3 {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .img-3 {
        width: 100%;
    }

    .img-3 img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .txt-3 {
        font-size: large;
        width: 100%;
        padding-top: 135px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 135px;

    }

    .slide {
        width: 55%;

    }

}

@media only screen and (max-width: 900px){

    .slide{
        width: 70%;
    }
}


@media only screen and (max-width: 769px) {

    .heading h3 {
        font-size: 2em;
    }

    .txt-1 {
        font-size: large;
        width: 100%;
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 60px;

    }

    .slide{
        width: 95%;
    }

}




@media only screen and (max-width: 513px) {

    .heading h3 {
        font-size: 1em;
    }

    .slide{
        width: 100%;
    }

}

/* FOR NAVBAR */

:root {
    --main-color: #A08173;
    --black: #e6bcb7;
    --bg: #fff;
}

* {
    outline: none;
    border: none;
    text-decoration: none !important;
    transition: .3s linear;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 40px;
}

body {
    background: var(--bg) !important;
    overflow-x: hidden;
}

.header {
    background: transparent;
    display: flex;
    color: #939580;
    align-items: center;
    justify-content: space-between;
    padding: 16px 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
}

.header .links a {
    margin: 0 16px;
    color: white;
    font-size: 15px;
    letter-spacing: .2px;
}

.header .icons div {
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 28px;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btnn {
    display: none;
}

/*on scroll effect*/
.nav-change {
    background: #713038;
  
  }


/*backgroung image and breadcrumb */
.wpo-page-title{
	background: url(img/back.jpg) no-repeat top/cover;
    min-height: 360px;
    position: relative;
    display: flex;
	text-align: center;
    justify-content: center;
    flex-direction: column;
	color: #fff;
    z-index: 1;
}
.wpo-bread-crumb-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	gap: 30px;
	list-style-position: outside;
}
.wpo-bread-crumb-wrap li:first-child{
	list-style: none;
	color: #fff;
}
/* footer style*/
.footer {
    background: #FBF7F6;
    padding: 30px 0px;
    font-family: "Play", sans-serif;
    padding: 40px 0;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #D4B0A5;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

.footer-link ul {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.footer-link ul :first-child {
    list-style: none;
}

.menu__link {
    font-size: 20px;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.menu__link:hover {
    opacity: 1;
}

.fa-facebook-f{
	color: #3B5999;
	}
	.fa-twitter{
	color: #55ACEE;
	}
	.fa-instagram{
	color: #C80DE9;
	}
	.fa-youtube{
	color: #FE0000;
	}
	.fa-facebook-f:hover{
		color: #333;
		transition: all ease-in-out 0.3s;
	}
	.fa-twitter:hover{
		color: #333;
		transition: all ease-in-out 0.3s;
	}
	.fa-instagram:hover{
		color: #333;
		transition: all ease-in-out 0.3s;
	}
	.fa-youtube:hover{
		color: #333;
		transition: all ease-in-out 0.3s;
	}

/*media query start*/
@media (max-width: 991px) {
    .header {
        padding: 12px 20px;
    }

    #icons-none {
        display: none;
    }

    #icons-none {
        display: none;
    }
}

@media (max-width: 768px) {
    .header .links a {
        color: #ccc;
        display: block;
        margin: 15px;
        padding: 14px;
        border-bottom: var(--border);
      }
      .header .links a:hover{
        padding-bottom: 15px;
      }
      
      .header.active{
        background: #713038;
      }
      
      .header .links.active{
        right: 0;
      }	
      
      #menu-btnn{
        display: inline-block;
        font-size: 18px;
        cursor: pointer;
        margin-right: 4px;
      }
      
      .header .links{
        position: absolute;
        top: 100%;right: -100%;
        background: rgba(113, 48, 56, .96);
        width: 100%;
        height: calc(100vh - 9.5rem);
        text-align: left;
      }
      
      .heading{
        font-size: 36px;
      }
      .line-none{
        display: none;
      }
	.wpo-page-title {
		min-height: 250px;
	}
}

/*media query end*/


/* Bottom to top button */
.to-top {
    background-color: #FFFFFF;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f1f1f;
    box-shadow: 0 0 5px rgb(0 0 0 / 17%);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top i {
    color: black;
    font-size: 22px;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

/* Bottom to top button end */

/* FOR NAVBAR */